Nombre: {{ nombre }} Apellido: {{ apellido }}
Division: {{ division }}
------------------------
IP: {{ ansible_default_ipv4.address }}
Distribución: {{ ansible_distribution }}

## nombre apellido y division las inclui como variables , en /vars 